.new-job-form-container {
  background-color: #aa7d3078; /* Subtle background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px; /* Ensure a minimum height */
}

.job-form {
  width: 600px;
  background-color: #524b4b;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

/* Input fields */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none; /* Remove default outline */
  border-color: #007bff;
  box-shadow: 0px 2px 5px rgba(0, 123, 255, 0.2);
}

/* Hover effects */
.job-form > *:hover {
  cursor: pointer;
  transform: translateY(-2px); /* Subtle upward movement */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

/* Button */
button {
  background-color: #007bff;
  color: #362828;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0062cc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}