/* JobPostings.css */

.job-postings-container {
  border-radius: 20px;
  background: linear-gradient(145deg, #856666, #705656);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-postings-heading {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.no-postings-message {
  color: #856666;
  font-size: 18px;
  text-align: center;
}

.job-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.job-item {
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex: 0 0 calc(30% - 20px);
  transition: transform 0.3s ease-in-out;
}

.job-item:hover {
  transform: translateY(-5px);
}

/* Add styles for individual job details */
.job-title {
  color: #705656;
  font-size: 20px;
  margin-bottom: 8px;
}

.job-description {
  color: #333;
  margin-bottom: 10px;
}

.job-budget {
  color: #856666;
  margin-bottom: 10px;
}

.job-skills {
  color: #705656;
  margin-bottom: 10px;
}

.job-deadline {
  color: #705656;
  margin-bottom: 10px;
}

.job-poster {
  color: #705656;
  margin-bottom: 10px;
}

.poster-pic {
  border-radius: 50%;
  max-width: 100px;
}