/* body { background: #221; } */
#slidy-container { 
  width: 70%;
  margin: auto;
  overflow: hidden; 
  margin: 0 auto;
  margin-top: 20px;
  border-radius:1% ;
}
#slidy-container img {
  width:100% ;
  height: 500px;
  
}