body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0240;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* About.css */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10% 10%;
}

.about-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #0f037b;
}

.about-container p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #353434;
  margin-bottom: 2rem;
  max-width: 40rem;
}

.about-container img {
  width: 100%;
  max-width: 30rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 2rem; 
}

.footer {
  background-color: #f7f7fa;
  color: #0a0121;
  padding: 2rem 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-content p {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
}



.footer-content a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content ul {
    margin-top: 1rem;
  }
}